@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding-top: 32px;  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}




/* *************
*************
      ME
*************
************* */
$primary-dark: #1a075ee6;
$primary-dark-bg: hsl(253, 100%, 23%);
$primary: #3f19c7;
$primary-bg: hsl(253, 100%, 26%);
$primary-light: #3e1fadf1;
$primary-light-bg: hsl(253, 100%, 46%);
$light: #f1f1f1;
$dark: #424040;
$med: #575252;
$comp: #FFD513;
$comp-light: hsla(49, 92%, 75%, 0.849);


.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;  
}

.container--big {
  max-width: 1200px;
}


.header {
  padding: 5vh 0;
}

.header h1 {
  color: $primary;
}

.header h3 {
  font-weight: 400;
}

.logo {
  height: 30px;
  fill: #131314 !important;
}

.navbar {
  position: fixed;
  display: flex;    
  top: 0;
  width: 100%;  
  z-index: 3;
  background: white;
  border-bottom: 1px dashed rgb(143, 155, 158);  
  align-items: center;
}

.navbar__show {
  position: absolute;
  right: 0;
  display: none;
}

.navbar__link a {
  display: block;      
  padding: 0.25rem 2rem;  
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: $med;
  height: 100%;  
  text-decoration: none;  
}


.navbar__hr {
  width: 0;
  transform-origin: 100%;
  transition: all 200ms ease;
  margin: 0;
  
}

.navbar__link a:hover  {
  color: $primary;
}


.main {  
  margin: 5vh 0;  
  display: flex;   
  justify-content: space-around; 
  align-items: center;
  padding: 5vh 0;  
}

.main > div {
  padding: 1rem;    
}

.main__info { 
  color: $primary;  
  position: relative;
}

.main__info p {
  max-width: 400px;
}

.main__info h3 {
  font-weight: 400;
  color: #000;
}

.main__side {
  border-right: 1px dashed $primary;
  border-right: none;
  justify-self: flex-end; 
}

.main__side--small {
  max-width: 300px;
}

.main__side ul {
  margin: 0;
  list-style: none;
}

.main__side li {
  display: inline-block;
  width: 100%;
}

.main__side a {
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #000;  
  border-bottom: 1px dashed $med;  
  color: $med;
  transition: all 200ms ease;  
}

.main__side a:hover {  
  border-bottom: 1px solid $primary;  
  color: $primary;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 5vh 0;
  border-top: 1px dashed rgb(143, 155, 158);
  border-bottom: 1px dashed rgb(143, 155, 158);
  padding: 0.5rem 0;
}

.info__item {
  max-width: 300px;
  margin: 1.25rem;
}

.info__item h3 {
  color: $primary;
}

.projects {
  padding: 5vh 0;  
}

.projects p {
  margin: 0;
  margin-bottom: 1rem;
}

.projects__title {
 padding-bottom: 5vh; 
}

.projects__title h3 {
  font-weight: 400;
}

.projects__main {
  overflow: auto;
}

.projects h2 {
  color: orange;  
  color: $primary;  
}

// ==================
//       CARD
// ==================
.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1rem;
  margin-bottom: 4rem;
  background: #dadada52;  
  // border: 1px dashed $light;
  .button {
    margin-top: 1rem;
  }
}

@media(max-width:900px) {
  .card {
    display: block;
  }
}

.card__content {
  max-width: 500px;  
  margin: 1rem;
  margin-bottom: 2rem;
}

.card__svg {
  margin: 1rem;
  svg {
    margin: 0 auto;
    fill: #424040;
    display: block;
    width: 150px;
    height: 150px;    
  }  
}

.card__img {  
  flex-grow: 1;

}

.card__small {
  align-items: flex-start;  
  .card__content {
    max-width: 400px;
  }
}

.box {
  padding: 2rem 0;
  // padding-top: 2rem;
}

.box--big {
  padding: 5rem 0;
}

.skills {
  background: #131314;  
  color: white;
  min-height: 50vh;
}

.skills p {
  color: rgb(193, 193, 202);
}

.skills h3 {
  font-weight: 400;
  color: rgb(197, 197, 207);
}

.skills__title {
  padding: 2vh 0;  
  margin-bottom: 2vh;
}

.skills__title h1 {
  margin: 1rem 0;
}

.skills__content {  
  display: flex;
  justify-content: space-between;
  padding: 10vh 0;  
}

.skills__item {
  max-width: 450px;
  margin: 1rem 0;  
}

.contact {
  padding: 5vh 1rem;
  h2 {
    font-weight: 400;
  }
}


// ==================
//       ABOUT
// ==================
.about {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 5rem;
  align-items: center;
  // border-top: 1px dashed rgb(110, 102, 102); 
  padding: 1rem;  
  background: $light;
  &:nth-last-of-type(odd) {
    
  }
}

.about__img {
  // max-width: 500px;
  flex-grow: 1;
  margin: 1rem 2rem;
  min-width: 150px;
}

.about__content {
  margin: 1rem 0;
  p {max-width: 500px;}
}


.about p {  
  color: rgb(89, 89, 114);  
}

.clear {  
  clear: left;
}


.cover {
  background: rgba(255, 255, 255, 0.856);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}


// ==================
//       FORM
// ==================
.form {
  max-width: 500px;
  margin: 0 auto;
}

.form__item {
  margin: 3rem 0;
  color: $primary;
  label {
    display: flex;
    flex-direction: column;
    
  }

  input {
    border: none;
    border-bottom: 1px dashed rgb(110, 102, 102);
  }

  textarea {
    margin-top: 1rem;  
    border: 1px dashed rgb(110, 102, 102);  
    /* border: 1px dashed $primary;   */
  }
}

// ==================
//       BUTTON
// ==================
 
.button {
  background: $primary;
  border: none;
  color: white;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: all 200ms ease;
  border-radius: 2px;
  text-decoration: none;
  display: inline-block;
}

.button--outline {
  color: $dark;
  background: white;
  border: 1px solid $med;
}

.button:hover {
  background: #131314;
  color: white;
  transform: translateY(-2px);
}

.button--scroll {
  position: fixed;
  display: none;
  bottom: 5vh;
  right: 1rem;
  z-index: 2;
}

// ==================
//       SUCCESS
// ==================

.success {
  height: calc(50vh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.success h1 {
  color: $primary
}

.success h3 {
  font-weight: 400;
}

.success .button {
  margin-top: 2rem;
}

.success__text {
  text-align: center;
  animation: show-check 900ms ease;  
}

.success__check {
  font-size: 8rem;
  line-height: 100%;
  animation: show-check 350ms ease;
}

@keyframes show-check {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// ==================
//       FOOTER
// ==================

.footer {
  position: relative;
  background: #131314;  
  color: white;  
  text-align: center;  
  padding: 1rem 0;  
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  padding: 0;
  margin: 0;
}

.footer li {
  /* border-bottom: 1px solid #454555; */
  margin: 0 1rem;
}

.footer a {
  color: #adadc0;  
  text-decoration: none;
}

.footer p {
  color: #cbcbd8;
  margin: 0;
  margin-top: .5rem;
}

// ==================
//       MEDIA
// ==================
@media (max-width:768px) {

  .logos__svg {
    height: 80px;
  }


  .info {
    flex-direction: column;
    align-items: center;
  }
  .card {
    grid-template-columns: 1fr;
  }
  .card__img {
    grid-column: 1;
  }

  .skills__content {
    flex-direction: column;
  }
}

@media (max-width:600px) {
  .navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    width: min-content;
    transform: translateX(-100%);
    transition: 200ms all ease;
  }
  .navbar--show {
    transform: translateX(0);
  }  

  .navbar__show {
    position: fixed;
    display: block;
    z-index: 2;
    top: 1rem;
    right: 1rem;
    line-height: 100%;
    font-size: 2rem;
    padding: 0.25rem;
    background: $primary;
    color: white;
    cursor: pointer;
    border: none;
  }

  .main {
    flex-direction: column;
    align-items: flex-start;
  }
}

// ==================
//       VIDEO
// ==================

.video__wrapper {
  background-color: #000;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
.video__wrapper img {
  width: 100%;
  top: -16.84%;
  left: 0;
  opacity: 0.7;
}
.video__wrapper .play__button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.video__wrapper .play__button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}
.video__wrapper img,
.video__wrapper .play__button {
  cursor: pointer;
}
.video__wrapper img,
.video__wrapper iframe,
.video__wrapper .play__button,
.video__wrapper .play__button:before {
  position: absolute;
}
.video__wrapper .play__button,
.video__wrapper .play__button:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}
.video__wrapper iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}